
%h1
    = @customer.name
%p
    last billed: 
    = @customer.last_billed_at
%h2 
    New Bill

%form{:action => "/customers/#{@customer.id}/bill", :method => "post"}
    %table
        %tr
            %td
                Amount in cents
            %td
                %input{:name => "amount", :type => "text"}
    
        %tr
            %td
                Description
            %td
                %textarea{:name => "body", :type => "text"}
        %tr
            %td
            %td
                %input{:type => "submit", :value => "Submit"}