
%h1
    = @customer.name
%p
    last billed: 
    = @customer.last_billed_at
%h2 
    New Bill

%form{:action => "/customers/#{@customer.id}/bill", :method => "post"}
    Description
    %input{:name => "body", :type => "text"}/
    %br/
    amount
    %input{:name => "amount", :type => "text"}/
    %br/
    %input{:type => "submit", :value => "Submit"}/